<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="templates/">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Index</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="user-app" v-cloak>
        <div>
           <label for="username">用户名</label>
           <input id="username" v-model="user.username" placeholder="请输入用户名">
           <button @click="findByUsername">查询</button>
           <span style="color: #ec6969">{{msg}}</span>
        </div>
        <ul>
            <li v-for="item in users" :data-id="item.id">{{item.username}} | {{item.create_time}}</li>
        </ul>
    </div>
<script src="js/jquery.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/index.js"></script>

</body>
</html>